* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  vertical-align: center;
}

.container {
  width: 80vmin;
  height: 100%;
  margin: auto;
}

.btn {
  width: 50%;
  font-size: 1.2em;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid;
  background-color: rgb(70, 70, 70);
}

.btn.btn-primary {
  background-color: rgb(60, 60, 60);
  color: #EEE
}